<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexusinfo.nedusoft">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/nedusoft_slider_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/nedusoft_slider_logo"
        android:supportsRtl="true"
        android:theme="@style/NedusoftTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.StudentDetailsActivity"
            android:label="@string/title_activity_student_details"
            android:screenOrientation="portrait"
            android:theme="@style/NedusoftTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.SchoolCodeRequestActivity"
            android:label="@string/title_activity_school_code_request"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".receivers.InternetConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNENTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activities.ChangePasswordActivity"
            android:label="Change password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LessonUpdatesActivity"
            android:label="Lesson updates"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.FeedbackActivity"
            android:label="Feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ForgotPasswordActivity"
            android:label="Forgot Password"
            android:screenOrientation="portrait" />
    </application>

</manifest>