<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexusinfo.nedusoft">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/nedusoft_slider_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/nedusoft_slider_logo"
        android:supportsRtl="true"
        android:theme="@style/NedusoftTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.StudentDetailsActivity"
            android:label="@string/title_activity_student_details"
            android:theme="@style/NedusoftTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SchoolCodeRequestActivity"
            android:label="@string/title_activity_school_code_request"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
    </application>

</manifest>